{% extends 'parent/base.html' %}
{% load static %}
{% load alert_tags %}

{% block title %}
    ثبت سفارش
{% endblock %}

{% block content %}
    <div class="page-title-area bg-16 mt-100">
        <div class="container">
            <div class="page-title-content">
                <h2>بررسی محصول</h2>
                <ul>
                    <li>
                        <a href="{% url 'main:index' %}">
                            خانه
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'cart:cart' %}">
                            سبد خرید
                        </a>
                    </li>
                    <li class="active">ثبت سفارش</li>
                </ul>
            </div>
        </div>
    </div>


    <section class="checkout-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="log-in-coupon-code mr-15">
                        <div class="faq-accordion">
                            <ul class="accordion">
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        کد تخفیف دارید؟ برای وارد کردن کد خود اینجا کلیک کنید
                                    </a>
                                    <div class="contact-form-action accordion-content">
                                        <p id="discount-result" style="display: none;">اعمال کد تخفیف</p>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" name="Coupon"
                                                           id="discount-token" placeholder="کد تخفیف">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="default-btn" id="submit-discount">
                                                    اعمال کد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% render_messages form=form %}
                    <form method="post" action="/checkout/submit/">
                        {% csrf_token %}
                        <input type="hidden" name="discount_token" id="form-token" value="" autocomplete="off">
                        <div class="billing-details mr-15">
                            <h3 class="title">جزئیات صورتحساب</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>نام <span class="required">*</span></label>
                                        <input type="text" name="first_name" id="first_name" class="form-control"
                                               value="{{ form.first_name.value|default:'' }}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>نام خانوادگی <span class="required">*</span></label>
                                        <input type="text" name="last_name" id="last_name" class="form-control"
                                               value="{{ form.last_name.value|default:'' }}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>ایمیل</label>
                                        <input type="email" name="email" id="email" class="form-control"
                                               value="{{ form.email.value|default:'' }}">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>تلفن <span class="required">*</span></label>
                                        <input type="text" name="phone" id="phone" maxlength="11" class="form-control"
                                               value="{{ form.phone.value|default:'' }}" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-check">
                                        <label class="form-check-label" for="shipment">ارسال پستی</label>
                                        <input type="checkbox" name="shipment" class="form-check-input" id="shipment"
                                               autocomplete="off" value="{{ shipment|default:'' }}">
                                    </div>
                                </div>
                                <div class="shipping-field" style="display: none;">
                                    <div class="col-lg-12 col-md-6">
                                        <div class="form-group">
                                            <label>استان </label>
                                            <input type="text" name="province" id="province" class="form-control"
                                                   value="{{ form.province.value|default:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group shipping-field">
                                            <label>شهرستان </label>
                                            <input type="text" name="city" id="city" class="form-control"
                                                   value="{{ form.city.value|default:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group shipping-field">
                                            <label>آدرس </label>
                                            <input type="text" name="address" id="address" class="form-control"
                                                   value="{{ form.address.value|default:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group shipping-field">
                                            <label>کد پستی </label>
                                            <input type="text" name="postal_code" id="postal_code" minlength="10"
                                                   class="form-control" value="{{ form.postal_code.value|default:'' }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-check">
                                            <label class="form-check-label" for="ship-special-address">ارسال برای نجف
                                                آباد (تخفیف ویژه)</label>
                                            <input type="checkbox" name="ship-special-address"
                                                   class="form-check-input shipping-field" id="ship-special-address"
                                                   value="{{ ship_special1|default:'' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>یادداشت های سفارش (اختیاری)</label>
                                        <textarea name="notes" id="notes" cols="30" rows="8"
                                                  class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="form-submit" hidden>submit</button>
                    </form>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="order-details ml-15">
                        <div class="cart-totals">
                            <h3>خلاصه پرداخت</h3>
                            <ul>
                                {% for name, quantity in items %}
                                    <li>{{ name }}<span>{{ quantity }} سری</span></li>
                                {% endfor %}
                                <li>مجموع <span id="total-price">{{ total }} تومان</span></li>
                                <li class="shipping-field" style="display: none;">کرایه حمل <span id="post-price">25000 تومان</span>
                                </li>
                                <li>تخفیف <span id="discount">0 تومان</span></li>
                                <li><b>مبلغ قابل پرداخت</b> <span><b id="final-price">0 تومان</b></span></li>
                            </ul>
                        </div>
                        <div class="faq-accordion">
                            <h3>روش پرداخت</h3>
                            <ul class="accordion">
                                <li class="accordion-item active">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        پرداخت با ارسال فیش
                                    </a>
                                    <p class="accordion-content show">
                                        پس از پرداخت و دریافت کد سفارش اطلاعات فیش واریز به علاوه کد سفارش را در چت پشتیبانی ارسال کنید یا با شماره 09133382078 تماس بگیرید.
                                    </p>
                                </li>
                                {#                                <li class="accordion-item">#}
                                {#                                    <a class="accordion-title" href="javascript:void(0)">#}
                                {#                                        پرداخت در محل#}
                                {#                                    </a>#}
                                {#                                    <p class="accordion-content">#}
                                {#                                        لطفا رسید خرید خود را به نام فروشگاه، خیابان، شهرک، شهرستان و کدپستی فروشگاه#}
                                {#                                        ارسال#}
                                {#                                        کنید.#}
                                {#                                    </p>#}
                                {#                                </li>#}
                                {#                                <li class="accordion-item">#}
                                {#                                    <a class="accordion-title" href="javascript:void(0)">#}
                                {#                                        ارسال فیش#}
                                {#                                    </a>#}
                                {#                                    <p class="accordion-content">#}
                                {#                                        لطفا پس از ثبت سفارش و پس از دریافت پیامک کد رهگیری با شماره 09xx-xxx-xxxx تماس بگیرید.#}
                                {#                                    </p>#}
                                {#                                </li>#}
                                <li class="accordion-item">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="conditions">
                                        <label class="form-check-label" for="ship-different-address">موافق هستم با <a
                                                href="{% url 'main:terms' %}" target="_blank">شرایط و ضوابط</a>*</label>
                                    </div>
                                </li>
                                <li class="place-order">
                                    <button class="default-btn two" id="pay-button" disabled>
                                        ادامه و پرداخت
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/order.js' %}"></script>
{% endblock %}
