{% load static %}
<footer class="footer-area black-bg-color pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <a href="{% url 'main:index' %}" class="logo">
                        <img src="{% static 'assets/images/logo2.png' %}" alt="Image">
                    </a>
                    <p>چاپ 888 با سال ها سابقه کاری در ارائه خدمات چاپ و پرینت و زیراکس سیاه سفید/رنگی با صحافی های مختلف و همچنین پست سفارشات به سراسر ایران</p>
                    <ul class="social-icon">
                        <li>
                            <span>دنبال کنید:</span>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>تماس با ما</h3>
                    <ul class="address">
                        <li class="location">
                            <i class="ri-map-pin-line"></i>
                            <span>موقعیت</span>
                            فلاورجان.دانشگاه آزاد اسلامی.چاپ ۸۸۸(بخش خصوصی)
                        </li>
                        <li>
                            <i class="ri-mail-line"></i>
                            <span>ایمیل</span>
                            <a href="mailto: info@chap888.ir"> info@chap888.ir</a>
                        </li>
                        <li>
                            <i class="ri-phone-line"></i>
                            <span>تلفن</span>
                            <a href="tel:+989133382078" style="direction: ltr;">0913 338 2078</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>لینک های مفید</h3>
                    <ul class="import-link">
                        <li>
                            <a href="{% url 'cart:cart' %}">ثبت سفارش</a>
                        </li>
                        <li>
                            <a href="{% url 'order:status' %}">برسی وضعیت سفارش</a>
                        </li>
                        <li>
                            <a href="{% url 'main:faq' %}">سوالات متداول</a>
                        </li>
                        <li>
                            <a href="{% url 'main:terms' %}">شرایط و ضوابط</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>ساعت کاری</h3>
                    <ul class="working-hours">
                        <li>
                            شنبه – چهارشنبه
                            <span>08:00 صبح – 04:00 بعد از ظهر</span>
                        </li>
                        <li>
                            پنجشنبه - جمعه
                            <span class="closed">تعطیل</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copy-right-area">
    <div class="container">
        <p>کپی رایت <i class="ri-copyright-line"></i> 1403 ساخته شده توسط محمد حجت نیکوبخت <a
                    href="https://mhnikoobakht.dev" target="_blank">Mohammad Hojjat Nikoobakht</a>
    </div>
</div>
