{% extends 'parent/base.html' %}
{% load static %}

{% block title %}
	صفحه اصلی
{% endblock %}

{% block content %}
    <section class="banner-area jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="banner-content">
                                <span>ما روز هستیم</span>
                                <h1>ما همیشه بهترین خدمات سقف را ارائه می دهیم</h1>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال
                                    استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
                                <div class="banner-btn">
                                    <a href="get-free-quote.html" class="default-btn">
                                        درخواست نقل قول
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="banner-img">
                                <img src="{% static 'assets/images/banner/banner-img.jpg' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="services-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>ما انواع خدمات سقف مدرن را به مشتریان ارائه می دهیم</h2>
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده
                    است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-services-box">
                        <span class="flaticon-roof"></span>
                        <h3>
                            <a href="services-details.html">
                                سقف ساختمان مسکونی
                            </a>
                        </h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد
                            صنعت بوده است. لورم ایپسوم چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد
                            صنعت بوده است.</p>
                        <a href="services-details.html" class="read-more">
                            اطلاعات بیشتر
                            <i class="ri-arrow-left-line"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-services-box">
                        <span class="flaticon-roof-1"></span>
                        <h3>
                            <a href="services-details.html">
                                سقف ساختمان تجاری
                            </a>
                        </h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد
                            صنعت بوده است. لورم ایپسوم چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد
                            صنعت بوده است.</p>
                        <a href="services-details.html" class="read-more">
                            اطلاعات بیشتر
                            <i class="ri-arrow-left-line"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-services-box">
                        <span class="flaticon-broken-roof"></span>
                        <h3>
                            <a href="services-details.html">
                                تعویض و تعمیر سقف
                            </a>
                        </h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد
                            صنعت بوده است. لورم ایپسوم چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد
                            صنعت بوده است.</p>
                        <a href="services-details.html" class="read-more">
                            اطلاعات بیشتر
                            <i class="ri-arrow-left-line"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="about-area align-custom pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="{% static 'assets/images/about-img-1.jpg' %}" alt="Image">
                        <img src="{% static 'assets/images/about-img-2.jpg' %}" alt="Image" class="about-img-2">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <span>درباره ما</span>
                        <h2>شرکت خدمات سقف با بیش از 30 سال تجربه به بزرگترین شرکت سقف سازی کشور تبدیل شده است.</h2>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد
                            صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40
                            سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
                        <ul>
                            <li>
                                <i class="ri-check-line"></i>
                                لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                لورم ایپسوم متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                لورم ایپسوم ساختار متن را در بر می گیرد. استاندارد صنعت بوده است.
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                لورم ایپسوم ساختار متن را در بر می گیرد. استاندارد بوده است.
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                لورم ایپسوم متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.
                            </li>
                            <li>
                                <i class="ri-check-line"></i>
                                لورم ایپسوم ساختار متن را در بر می گیرد. استاندارد بوده است.
                            </li>
                        </ul>
                        <a href="about.html" class="default-btn">
                            اطلاعات بیشتر
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="counter-area pt-100 pb-70 jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter">
                        <div class="count-title">
                            <i class="flaticon-address"></i>
                            <h2>
                                <span class="odometer" data-count="3579">00</span>
                            </h2>
                            <h4>خدمات</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter">
                        <div class="count-title">
                            <i class="flaticon-consulting"></i>
                            <h2>
                                <span class="target">K</span>
                                <span class="odometer" data-count="1253">00</span>
                            </h2>
                            <h4>رضایت مشتریان</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter">
                        <div class="count-title">
                            <i class="flaticon-project"></i>
                            <h2>
                                <span class="odometer" data-count="275">00</span>
                                <span class="target">+</span>
                            </h2>
                            <h4>پروژه تکمیل شده</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-counter">
                        <div class="count-title">
                            <i class="flaticon-quality"></i>
                            <h2>
                                <span class="odometer" data-count="25">00</span>
                            </h2>
                            <h4>تجربه کاری</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="professional-services-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>ما انواع خدمات حرفه ای سقف مدرن را ارائه می دهیم</h2>
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده
                    است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
            </div>
            <div class="professional-services-slider owl-carousel owl-theme">
                <div class="professional-services">
                    <a href="services-details.html">
                        <img src="{% static 'assets/images/services/services-1.jpg' %}" alt="Image">
                    </a>
                    <div class="professional-services-content">
                        <h3>
                            <a href="services-details.html">
                                سقف مسطح
                            </a>
                        </h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده
                            است...</p>
                        <a href="services-details.html" class="read-more">
                            اطلاعات بیشتر
                            <i class="ri-arrow-left-line"></i>
                        </a>
                    </div>
                </div>
                <div class="professional-services">
                    <a href="services-details.html">
                        <img src="{% static 'assets/images/services/services-2.jpg' %}" alt="Image">
                    </a>
                    <div class="professional-services-content">
                        <h3>
                            <a href="services-details.html">
                                سقف شیروانی
                            </a>
                        </h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده
                            است...</p>
                        <a href="services-details.html" class="read-more">
                            اطلاعات بیشتر
                            <i class="ri-arrow-left-line"></i>
                        </a>
                    </div>
                </div>
                <div class="professional-services">
                    <a href="services-details.html">
                        <img src="{% static 'assets/images/services/services-3.jpg' %}" alt="Image">
                    </a>
                    <div class="professional-services-content">
                        <h3>
                            <a href="services-details.html">
                                سقف فلزی
                            </a>
                        </h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده
                            است...</p>
                        <a href="services-details.html" class="read-more">
                            اطلاعات بیشتر
                            <i class="ri-arrow-left-line"></i>
                        </a>
                    </div>
                </div>
                <div class="professional-services">
                    <a href="services-details.html">
                        <img src="{% static 'assets/images/services/services-4.jpg' %}" alt="Image">
                    </a>
                    <div class="professional-services-content">
                        <h3>
                            <a href="services-details.html">
                                سقف متحرک
                            </a>
                        </h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده
                            است...</p>
                        <a href="services-details.html" class="read-more">
                            اطلاعات بیشتر
                            <i class="ri-arrow-left-line"></i>
                        </a>
                    </div>
                </div>
                <div class="professional-services">
                    <a href="services-details.html">
                        <img src="{% static 'assets/images/services/services-5.jpg' %}" alt="Image">
                    </a>
                    <div class="professional-services-content">
                        <h3>
                            <a href="services-details.html">
                                سقف ساختمان
                            </a>
                        </h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده
                            است...</p>
                        <a href="services-details.html" class="read-more">
                            اطلاعات بیشتر
                            <i class="ri-arrow-left-line"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="why-choose-us-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="choose-us-content mr-15">
                        <span>چرا ما را انتخاب می کنید</span>
                        <h2>هرکسی که کیفیت کار و نوع کار و تجربه ما را می بیند، علاقه مند می شود. شما می توانید نقل قول
                            دریافت کنید.</h2>
                        <ul>
                            <li>
                                <i class="flaticon-quality"></i>
                                <h3>کیفیت تضمین شده</h3>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                    بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
                            </li>
                            <li>
                                <i class="flaticon-user-experience"></i>
                                <h3>کادر مجرب</h3>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                    بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
                            </li>
                            <li>
                                <i class="flaticon-reputation"></i>
                                <h3>شهرت بی عیب و نقص</h3>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                    بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
                            </li>
                            <li>
                                <i class="flaticon-address"></i>
                                <h3>خدمات ویژه</h3>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                    بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="choose-us-from-bg ml-15">
                        <h2>درخواست مشاوره رایگان برای تعویض سقف</h2>
                        <div class="form-group">
                            <i class="ri-user-fill"></i>
                            <input class="form-control" type="text" placeholder="نام">
                        </div>
                        <div class="form-group">
                            <i class="ri-mail-line"></i>
                            <input class="form-control" type="email" placeholder="ایمیل">
                        </div>
                        <div class="form-group">
                            <i class="ri-map-pin-2-fill"></i>
                            <input class="form-control" type="text" placeholder="موقعیت">
                        </div>
                        <div class="form-group date">
                            <input id="pdpF2" type="text" class="form-control" id="Date" placeholder="تاریخ بازرسی">
                            <span class="input-group-addon"></span>
                            <i class="ri-calendar-line"></i>
                        </div>
                        <div class="form-group">
                            <i class="ri-time-line"></i>
                            <input class="form-control" type="text" placeholder="زمان">
                        </div>
                        <button type="submit" class="default-btn">
                            درخواست نقل قول
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <div class="project-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shorting-menu">
                        <button class="filter" data-filter="all">
                            همه پروژه ها
                        </button>
                        <button class="filter" data-filter=".residential">
                            مسکونی
                        </button>
                        <button class="filter" data-filter=".commercial">
                            تجاری
                        </button>
                        <button class="filter" data-filter=".factory">
                            کارخانه
                        </button>
                        <button class="filter" data-filter=".roof">
                            تعویض سقف
                        </button>
                    </div>
                </div>
            </div>
            <div class="shorting">
                <div class="row justify-content-md-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="project-item  mix residential">
                            <img src="{% static 'assets/images/project/project-1.jpg' %}" alt="Image">
                            <div class="project-item-content">
                                <a href="projects-details.html">
                                    ساخت سقف ساختمان
                                </a>
                            </div>
                        </div>
                        <div class="project-item mix factory commercial">
                            <img src="{% static 'assets/images/project/project-4.jpg' %}" alt="Image">
                            <div class="project-item-content">
                                <a href="projects-details.html">
                                    ساخت سقف ساختمان
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="project-item mix factory commercial">
                            <img src="{% static 'assets/images/project/project-2.jpg' %}" alt="Image">
                            <div class="project-item-content">
                                <a href="projects-details.html">
                                    ساخت سقف ساختمان
                                </a>
                            </div>
                        </div>
                        <div class="project-item mix roof factory residential">
                            <img src="{% static 'assets/images/project/project-5.jpg' %}" alt="Image">
                            <div class="project-item-content">
                                <a href="projects-details.html">
                                    ساخت سقف ساختمان
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="project-item mix factory residential">
                            <img src="{% static 'assets/images/project/project-3.jpg' %}" alt="Image">
                            <div class="project-item-content">
                                <a href="projects-details.html">
                                    ساخت سقف ساختمان
                                </a>
                            </div>
                        </div>
                        <div class="project-item mix roof commercial">
                            <img src="{% static 'assets/images/project/project-6.jpg' %}" alt="Image">
                            <div class="project-item-content">
                                <a href="projects-details.html">
                                    ساخت سقف ساختمان
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="calling-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8">
                    <h2>آیا به خدمات سقف یا مشاوره نیاز دارید؟ با ما تماس بگیرید:</h2>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت
                        بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال
                        استاندارد صنعت بوده است.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="call-now">
                        <a href="tel:+1-(514)-312-5678" class="default-btn">+1 (514) 312-5678</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="team-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>با اعضای تیم ما در ارتباط باشید</h2>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-3 col-md-6">
                    <div class="single-team-member">
                        <img src="{% static 'assets/images/team/team-1.jpg' %}" alt="Image">
                        <div class="team-content">
                            <h3>دیوید اسکات</h3>
                            <span>مدیر کل</span>
                            <div class="team-social">
<span class="control">
<i class="ri-share-fill"></i>
</span>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="ri-instagram-line"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-team-member">
                        <img src="{% static 'assets/images/team/team-2.jpg' %}" alt="Image">
                        <div class="team-content">
                            <h3>راشل پاترینا</h3>
                            <span>مدیر بازرگانی</span>
                            <div class="team-social">
<span class="control">
<i class="ri-share-fill"></i>
</span>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="ri-instagram-line"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-team-member">
                        <img src="{% static 'assets/images/team/team-3.jpg' %}" alt="Image">
                        <div class="team-content">
                            <h3>سارا تیلور</h3>
                            <span>بازاریابی</span>
                            <div class="team-social">
<span class="control">
<i class="ri-share-fill"></i>
</span>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="ri-instagram-line"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-team-member">
                        <img src="{% static 'assets/images/team/team-4.jpg' %}" alt="Image">
                        <div class="team-content">
                            <h3>جان اسمیت</h3>
                            <span>بازاریابی</span>
                            <div class="team-social">
<span class="control">
<i class="ri-share-fill"></i>
</span>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="ri-instagram-line"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="testimonials-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="testimonials-img">
                        <img src="{% static 'assets/images/testimonials-img.jpg' %}" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonials-content">
                        <h2>بازخورد مشتریان</h2>
                        <div class="owl-carousel owl-theme testimonials-slider">
                            <div class="single-testimonials">
                                <div class="testimonials-img">
                                    <img src="{% static 'assets/images/testimonials/testimonials-1.jpg' %}" alt="Image">
                                    <h3>آدام اسمیت</h3>
                                    <span>طراح وب</span>
                                </div>
                                <p>“ لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال
                                    استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.
                                    لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را
                                    در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.”</p>
                            </div>
                            <div class="single-testimonials">
                                <div class="testimonials-img">
                                    <img src="{% static 'assets/images/testimonials/testimonials-2.jpg' %}" alt="Image">
                                    <h3>آنا مارتینز</h3>
                                    <span>طراح وب</span>
                                </div>
                                <p>“ لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال
                                    استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.
                                    لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را
                                    در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="partner-area bg-color ptb-100">
        <div class="container">
            <div class="row">
                <div class="partner-slider owl-carousel owl-theme">
                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="{% static 'assets/images/partner/partner-1.png' %}" alt="Image">
                        </a>
                    </div>
                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="{% static 'assets/images/partner/partner-2.png' %}" alt="Image">
                        </a>
                    </div>
                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="{% static 'assets/images/partner/partner-3.png' %}" alt="Image">
                        </a>
                    </div>
                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="{% static 'assets/images/partner/partner-4.png' %}" alt="Image">
                        </a>
                    </div>
                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="{% static 'assets/images/partner/partner-5.png' %}" alt="Image">
                        </a>
                    </div>
                    <div class="partner-item">
                        <a href="partner-details.html">
                            <img src="{% static 'assets/images/partner/partner-3.png' %}" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="blog-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>آخرین اخبار وبلاگ ما</h2>
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده
                    است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog">
                        <a href="blog-details.html">
                            <img src="{% static 'assets/images/blog/blog-1.jpg' %}" alt="Image">
                        </a>
                        <div class="blog-content">
                            <ul>
                                <li>
                                    <i class="ri-calendar-line"></i>
                                    <span>تاریخ: 21 دی 1399</span>
                                </li>
                                <li>
                                    <i class="ri-user-fill"></i>
                                    <a href="author.html">آدام اسمیت</a>
                                </li>
                            </ul>
                            <h3>
                                <a href="blog-details.html">
                                    نحوه محافظت از سقف
                                </a>
                            </h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال
                                استاندارد صنعت بوده است. لورم ایپسوم به سادگی متن را در بر می گیرد.</p>
                            <a href="blog-details.html" class="read-more">
                                ادامه مطلب
                                <i class="ri-arrow-left-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog">
                        <a href="blog-details.html">
                            <img src="{% static 'assets/images/blog/blog-2.jpg' %}" alt="Image">
                        </a>
                        <div class="blog-content">
                            <ul>
                                <li>
                                    <i class="ri-calendar-line"></i>
                                    <span>تاریخ: 21 دی 1399</span>
                                </li>
                                <li>
                                    <i class="ri-user-fill"></i>
                                    <a href="author.html">آدام اسمیت</a>
                                </li>
                            </ul>
                            <h3>
                                <a href="blog-details.html">
                                    نحوه ی نصب سقف
                                </a>
                            </h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال
                                استاندارد صنعت بوده است. لورم ایپسوم به سادگی متن را در بر می گیرد.</p>
                            <a href="blog-details.html" class="read-more">
                                ادامه مطلب
                                <i class="ri-arrow-left-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog">
                        <a href="blog-details.html">
                            <img src="{% static 'assets/images/blog/blog-3.jpg' %}" alt="Image">
                        </a>
                        <div class="blog-content">
                            <ul>
                                <li>
                                    <i class="ri-calendar-line"></i>
                                    <span>تاریخ: 21 دی 1399</span>
                                </li>
                                <li>
                                    <i class="ri-user-fill"></i>
                                    <a href="author.html">آدام اسمیت</a>
                                </li>
                            </ul>
                            <h3>
                                <a href="blog-details.html">
                                    مزایای سقف باریسول
                                </a>
                            </h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال
                                استاندارد صنعت بوده است. لورم ایپسوم به سادگی متن را در بر می گیرد.</p>
                            <a href="blog-details.html" class="read-more">
                                ادامه مطلب
                                <i class="ri-arrow-left-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="subscribe-area bg-color ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="subscribe-content">
                        <h2>عضویت در خبرنامه</h2>
                        <p>برای دریافت بروزرسانی ها در خبرنامه ما مشترک شوید.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="ایمیل خود را وارد کنید" name="EMAIL"
                               required autocomplete="off">
                        <button class="default-btn" type="submit">
                            مشترک شدن
                        </button>
                        <div id="validator-newsletter" class="form-result"></div>
                        <div class="form-group checkboxs">
                            <input type="checkbox" id="chb2">
                            <p>من با شرایط و ضوابط سایت موافقم <a href="privacy-policy.html">حریم خصوصی</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="shape subscribe-shape-1">
            <img src="{% static 'assets/images/subscribe-shape-1.png' %}" alt="Image">
        </div>
        <div class="shape subscribe-shape-2">
            <img src="{% static 'assets/images/subscribe-shape-2.png' %}" alt="Image">
        </div>
    </section>
{% endblock %}