{% extends 'parent/base.html' %}

{% block title %}
    شرایط و ضوابط
{% endblock %}

{% block content %}
    <div class="page-title-area bg-7 mt-100">
        <div class="container">
            <div class="page-title-content">
                <h2>شرایط و ضوابط</h2>
                <ul>
                    <li>
                        <a href="{% url 'main:index' %}">
                            خانه
                        </a>
                    </li>
                    <li class="active">شرایط و ضوابط</li>
                </ul>
            </div>
        </div>
    </div>


    <section class="ptb-100">
        <div class="container">
            <div class="main-content-text">
                <h3>1. قوانین عمومی وب‌سایت</h3>
                <p>استفاده شما از وب‌سایت **دفتر فنی چاپ 888** و سفارش خدمات چاپ از این پایگاه به معنی توافق کامل شما با
                    شرایط و ضوابط ذیل تلقی می‌گردد. تمامی فعالیت‌های این وب‌سایت منطبق با قوانین جمهوری اسلامی ایران و
                    قانون تجارت الکترونیک است. در صورت تغییر در قوانین درج شده، این تغییرات در همین صفحه به‌روزرسانی
                    خواهد شد.</p>
                <div class="gap-20"></div>

                <h3>2. تعهدات دفتر فنی چاپ 888</h3>
                <p>دفتر فنی چاپ 888 متعهد می‌شود که تمامی اطلاعات را به صورت شفاف و دقیق در اختیار کاربران قرار دهد. ما
                    متعهد به ارائه بهترین خدمات و کیفیت محصولات به مشتریان خود هستیم. تمامی اطلاعات هویتی و تماس کاربران
                    به صورت محرمانه نگهداری خواهد شد و از آن‌ها سوءاستفاده نخواهد شد.</p>
                <div class="gap-20"></div>

                <h3>3. تعریف مشتری و تعهدات آن‌ها</h3>
                <p>کاربران باید هنگام ثبت‌نام و سفارش، اطلاعات صحیح و کامل خود را وارد کنند. کاربران متعهد می‌شوند که
                    طبق قوانین جمهوری اسلامی عمل کنند. در صورت مشاهده هرگونه رفتار غیرقانونی یا توهین‌آمیز، حساب کاربر
                    مسدود خواهد شد. کاربران حق ندارند اطلاعات نادرست یا گمراه‌کننده در وب‌سایت منتشر کنند.</p>
                <div class="gap-20"></div>

                <h3>4. سیاست‌های حفظ حریم شخصی</h3>
                <p>ما به کاربران اطمینان می‌دهیم که اطلاعات شخصی آن‌ها محفوظ خواهد ماند و از آن‌ها سوءاستفاده نخواهد شد.
                    داده‌ها و کوکی‌های ذخیره شده کاربر به صورت محرمانه نزد ما باقی خواهد ماند. کاربران حق ندارند از
                    محتوای سایت ما (تصاویر، متن، ویدیو) سوءاستفاده کنند. حق نشر این مطالب مختص دفتر فنی چاپ 888 است.</p>
                <div class="gap-20"></div>

                <h3>5. ارتباطات الکترونیکی</h3>
                <p>ممکن است ایمیل یا پیامکی به شماره وارد شده توسط کاربر ارسال شود. اطلاع‌رسانی در مورد نحوه پردازش و
                    ارسال سفارشات برای شماره کاربر ارسال خواهد شد. دفتر فنی چاپ 888 هیچ مسئولیتی در قبال پیامک‌ها یا
                    ایمیل‌های جعلی نخواهد داشت.</p>
                <div class="gap-20"></div>

                <h3>6. نحوه ثبت، پردازش و ارسال سفارش</h3>
                <p>در صورت بروز خطا در پرداخت، مبلغ تا 48 ساعت به حساب مشتری عودت داده خواهد شد. کلیه سفارش‌ها حداکثر
                    ظرف مدت 7 روز کاری به دست مشتریان خواهد رسید. کاربران باید اطلاعات پستی دقیق را برای ثبت سفارش وارد
                    کنند.</p>
                <div class="gap-20"></div>

                <h3>7. تضمین عودت کالا یا خدمات</h3>
                <p>مشتریان می‌توانند تا 7 روز پس از دریافت کالا، در صورت عدم استفاده و سالم بودن بسته، کالا را عودت
                    دهند. اگر کالا در زمان ارسال آسیب دیده باشد، مشتری می‌تواند آن را عودت دهد.</p>
                <div class="gap-20"></div>

                <h3>8. مسئولیت‌ها</h3>
                <p>دفتر فنی چاپ 888 هیچ‌گونه مسئولیتی نسبت به خسارات ناشی از تأخیر در تحویل یا مشکلات فنی خارج از کنترل
                    خود ندارد.</p>
            </div>
        </div>
    </section>
{% endblock %}


